@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Zhi+Mang+Xing&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; /* Prevent scrolling */
    perspective: 1300px;
}

/*#videofilm {
    width: 100vw; 
/* Use viewport width */
    /*height: 100vh;
/* Use viewport height */
    /*object-fit: cover;
/* Maintain aspect ratio */
    /*position: fixed;
    z-index:-1;
}*/
.gif-container {
    position: absolute; /* Change to absolute */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling */
}

#animated-gif {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio */
    position:fixed;
    z-index: -1; /* Keep gif above background */
}
h1 {
    font-size: 20px;
    color: #B1BCE6;
    font-family: 'Courgette';
}

.texttwo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

.textone {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
}

.textthree {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
}

:root {
    --margin-top: 0;
    --margin-left: 0;
    --animation-duration: 8s;
    --animation-delay: 0s;
}

div {
    transform-style: preserve-3d;
}

.word-box,
.word-box .word {
    position: absolute;
    animation: rotY 0s linear infinite;
    animation-duration: var(--animation-duration);
    animation-delay: var(--animation-delay);
}

.word-box {
    margin-top: var(--margin-top);
}

.word-box .word {
    margin-left: var(--margin-left);
}

.word-box .word {
    animation-duration: reverse;
}
.word-box .word {
    font-size: 15px; /* Make the font size smaller */
    line-height: 1.2; /* Adjust line height for better spacing */
    animation-duration: 8s; /* Keep the slower spin duration */
}


@keyframes rotY {
    to {
        transform: rotateY(360deg);
    }
}

audio {
    display: none;
}
